body{
    background-color: bisque;
}

.container{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 10%;
}

img{
    height: 30%;
    border-radius: 100%;
}

a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover{
    color: rgb(124, 124, 124);
}

.paragrafo{
    font-size: 18px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}


